<% if @user.errors.any? %>
	<div id="error_explanation">
		<%= t('general.form_error') %>
	</div>
<% end %>

<div class='container' >
<div class='card'>

<%= form_for @user do |f| %>
</br>


	<div id = "fr">
			<%= f.label :full_name%>
		<%= f.text_field :full_name, :placeholder => "Informe seu nome" %>
		<%= error_tag @user, :full_name %>
	
	</div>

	
		<%= f.label :email %>
		<%= f.text_field :email, :placeholder => "Email: nome@hotmail.com"%>
		<%= error_tag @user, :email %>
	

	
		<%= f.label :cpf %>
		<%= f.text_field :cpf, :placeholder => "Informe seu cpf"%>
		<%= error_tag @user, :cpf %>
	

	
		<%= f.label :password %>
		<%= f.password_field :password, :placeholder => "Informe sua senha"%>
		<%= error_tag @user, :password %>
	

	
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :placeholder => "Digite a senha novamente"%>
		<%= error_tag @user, :password_confirmation %>
	</p>

	


		<%= f.submit "Cadastrar", class: 'bot'%> 


		
	


</div>
</div>

<% end %>