<%= form_for(@bill,:html => {:multipart =>true}) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero_documento, "Número do Documento" %><br>
    <%= f.text_field :numero_documento %>
  </div>
  <div class="field">
    <%= f.label :id_upload, "Usuário fazendo o upload" %><br>
    <%= f.text_field :id_upload %>
  </div>
  <div class="field">
    <%= f.label :notes , "Anotações"%><br>
    <%= f.text_area :notes %>
  </div>
  <div class = "field">
    <%= label_tag :doc, "Upload do Documento" %>
    <%= file_field_tag :doc %>
  </div>
  <div class="actions">
    <%= f.submit 'Fazer Upload' %>
  </div>
<% end %>
