<h1>Pesquisar Documento</h1>

<br>

<%= form_tag(bills_path, :method => "get", :class => "form-inline") do %>
  <div class = "input-append">
    <%= text_field_tag :search , nil , :class => "form-control" %>
    <button class="btn" type="submit">Pesquisar <i class="glyphicon glyphicon-search"></i></button>
  </div>
<% end %>

<% if params[:search].present? %>
   <table>
  <thead>
    <tr>
      <th>Numero documento</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.numero_documento %></td>
        <td><%= bill.notes %></td>   
        <td><%= link_to 'Ver', bill %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <% end %>