<h1>New bill</h1>

<%= form_for(@bill,:html => {:multipart =>true}) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero_documento %>
    <%= f.text_field :numero_documento, :value => flash[:nf] %>
  </div>
  <div class="field">
    <%= f.label :id_upload%>
    <%= f.text_field :id_upload %>
  </div>
  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes, :value => flash[:ocr] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= button_to 'Back', "",:id => "Back" %>
<script>
  $("#Back").click(function(){
    parent.history.back();
    return false;
  }
</script>
