<h1>Novo Documento</h1>

<%= form_for(@bill,:html => {:multipart =>true}) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="input-group">
      <%= f.label :numero_documento %>
      <%= f.text_field :numero_documento, :value => flash[:nf], :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, :cols => "30", :rows => "10", :value => flash[:ocr], :class => "form-control" %>
    </div>
  </div>

  <ul class="list-inline">
    <li><%= f.submit "Finalizar", :class => "btn btn-success" %></li>
  </ul>

<% end %>