<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Numero documento:</strong>
  <%= @bill.numero_documento %>
</p>

<p>
  <strong>Id upload:</strong>
  <%= @bill.id_upload %>
</p>

<p>
  <strong>Notes:</strong>
  <%= flash[:ocr] %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
