<h1>Upload de arquivo</h1>

<!--<% if @photo.errors.any? %>
	<div id="error_explanation">
		<%= t('general.form_error') %>
		<ul>
			<% @photo.errors.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>
-->
	
 
<%= form_for @photo, url: 'upload#create', html: {method: :post} do |f| %>
  <div class="form-group">
  	</div>
  	<br>
    <h2><%= f.label 'Escolha o documento para upload' %></h2>
    </br>
    <%= f.file_field :image, required: true %>
  </div>
 	
  <br>
  <%= f.submit 'Fazer Upload', class: 'bot2' %>
<% end %>