<h1><%= t '.title' %></h1>

<div id = "login">
<% if @user_session.errors.has_key? :base %>
	<div id="error_explanation">
		<%= @user_session.errors[:base].join(', ') %>
	</div>
<% end %>

<%= form_for @user_session do |f| %>
	
	</br>
	
		<%= f.label :cpf %>
		<%= f.text_field :cpf, :placeholder => "Informe seu cpf" %>
		<%= error_tag @user_session, :cpf %>
	

	

		<%= f.label :password %>
		<%= f.password_field :password, :placeholder => "Informe sua senha" %>
		<%= error_tag @user_session, :password %>
	</p>
	
	</br>


	
		<%= f.submit "Entrar", class: 'bot'%>    <%= link_to 'cadastrar', new_user_path , class: 'bot'%></p>
		
<% end %>
</div>
	


