<h1><%= t '.title' %></h1>

<% if @user_session.errors.has_key? :base %>
	<div id="error_explanation">
		<%= @user_session.errors[:base].join(', ') %>
	</div>
<% end %>

<%= form_for @user_session do |f| %>
	<div class="form-group">
		<div class="input-group">
			<%= f.label :cpf %>
			<%= f.text_field :cpf, :placeholder => "Informe seu cpf", :class => "form-control" %>
			<%= error_tag @user_session, :cpf %>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<%= f.label :password %>
			<%= f.password_field :password, :placeholder => "Informe sua senha", :class => "form-control"%>
			<%= error_tag @user_session, :password %>
		</div>
	</div>

	<ul class="list-inline">
		<li><%= f.submit "Entrar", class: 'btn btn-success'%></li>   
		<li><%= link_to 'Cadastrar', new_user_path , class: 'btn btn-success'%></li>
	<ul>

<% end %>